<?xml version="1.0" ?>

<robot name="ambulance" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find vehicle_description)/urdf/cart_holonomic_files/cart_holonomic_materials.xacro" />
  <xacro:include filename="$(find vehicle_description)/urdf/cart_holonomic_files/cart_holonomic.gazebo" />
  <xacro:include filename="$(find vehicle_description)/urdf/cart_holonomic_files/cart_holonomic_macros.xacro" />
    
  <!-- invisible root link, on the ground just below the model origin -->
  <link name="base_footprint">
  <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57" />
      
      <geometry>
            <mesh filename="$(find vehicle_description)/ambulance/meshes/ambulance.obj" scale="0.0254 0.0254 0.0254"/>
      </geometry>
   </visual>
   <!-- <visual>
      <origin xyz="-3.0 0 3.0" rpy="0 0 1.57" />
      <geometry>
            <box size="2.5 0.1 0.25" />  
      </geometry>
   </visual> -->
            

   <collision>
      <origin xyz="0 0 1.45" rpy="0 0 0" />   <!-- this makes it float way above in air -->
      <geometry>
        <box size="6.0 2.9 2.9" /> <!--box size="2.0 2.0 0.25" /-->
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>1.0</mu2>
            <slip1>0</slip1>
            <slip2>0</slip2>
          </ode>
        </friction>
      </surface>
    </collision>
    <!-- <collision>
    <origin xyz="-3.0 0 3.0" rpy="0 0 1.57" />
      <geometry>
            <box size="2.5 0.1 0.25" />  
      </geometry>
    </collision> -->
    <inertial>
      <mass value="3000"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1000.0" ixy="0" ixz="0" iyy="1000.0" iyz="0" izz="2000.0"/>
    </inertial>

  </link>

</robot>
  




