<?xml version="1.0" encoding="UTF-8"?>

<launch>

 <!-- initial position of robot in environment -->
  <arg name="robot_position" default="-x 0.0 -y 0.0 -z 0.01" />
  <arg name="robot_name" default="ambulance" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->


   <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/empty_world.world"/> 
     <arg name="paused" value="false"/>
     <arg name="use_sim_time" value="true"/>
     <arg name="gui" value="true"/>
     <arg name="recording" value="false"/>
     <arg name="debug" value="false"/>
    </include>

    <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -model $(arg robot_name) -file $(find vehicle_description)/ambulance/model.sdf $(arg robot_position) "/>

    <!--node name="move_cart_holonomic" pkg="vehicle_description" type="move_cart_holonomic" output="screen" /-->

</launch>
